<hr>
<h3>Combination Operators</h3>
<br>
<p>Status of the request being done to reqres.in/api/users/2?delay=3 --> {{ pendingRequest ? 'Pending': 'Responded' }}</p>
<br>
<label for="combineLatestInput1">Combine Latest Input 1: </label>
<input #combineLatestInput1 name='combineLatestInput1' type="text">
<br>
<label for="combineLatestInput2">Combine Latest Input 2: </label>
<input #combineLatestInput2 name='combineLatestInput2' type="text">
<br>
<p>Output from the combineLatest is --> </p>
<span>Check the Developer console for more outputs</span>
<hr>
