<h1>This is the RxJs Sandbox Project</h1>
<!-- <navbar></navbar> -->

<div id="main-content">
  <!-- <app-obs-definition></app-obs-definition>
  <app-subject-definition></app-subject-definition>
  <app-creation-operators></app-creation-operators>
  <app-basic-operators></app-basic-operators> 
  <app-not-common-operators></app-not-common-operators>
  <app-time-operators></app-time-operators>
  <app-transformation-operators></app-transformation-operators>
  <app-obs-combination></app-obs-combination> -->
  <app-exercises></app-exercises>
</div>