<hr>
<h3>Time Operators</h3>
<label for="debounceTimeInput">Debounce Time Example: </label>
<input #debounceTimeInput name='debounceTimeInput'type="text">
<br>
<br>
<label for="throttleTimeInput">Throttle Time Example: </label>
<input #throttleTimeInput name='throttleTimeInput'type="text">
<br>
<br>
<label for="sampleTimeInput">Sample Time Example: </label>
<input #sampleTimeInput name='sampleTimeInput'type="text">
<br>
<br>
<button #clickObservable>Click here to emit a sample</button>
<br>
<br>
<button #clickObservable2>Click here to emit a sample</button>
<br>
<br>
<span>Check the Developer console for more outputs</span>
<hr>
